@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root{
  --mainColor: #020D19;
  --subMainColor: #C0C0C0;
  --textColor: #fff;
  --fontFamily: "Press Start 2P";
  --background: linear-gradient(135deg,var(--mainColor), var(--subMainColor));
}
body.light-mode{
  --mainColor: #C0C0C0;
  --subMainColor:#fff;
  --textColor:  #020D19;
  --fontFamily: "Press Start 2P";
  --background: radial-gradient(var(--mainColor), var(--textColor));
  }

  body{
      background: var(--background);
      background-repeat: no-repeat;
      color: var(--textColor);
      overflow: hidden;
      font-family: var(--fontFamily);
      height: 970px;
    transition: 0.3s ease-in-out;

      .container{
        background: var(--mainColor);
        width: 70%;
        margin: 100px auto 0;
        border-radius: 20px;
        height: auto;
        a{
            text-decoration: none;
            color: var(--textColor);
            h1{
              margin: 50px;
              padding: 30px;
              text-align: center;
              &:hover{
                  color: var(--subMainColor);
                }
              & img{
                  width: 60px;
                  height: 60px;
                  transition:all 0.3s ease-in-out;
                  &:hover{
                      width: 70px;
                      height: 70px;
                    }
                }
            }
        }
        .navBar{
          display: flex;
          justify-content: space-between;
          margin: 30px;
          padding:30px;
          a{
            transition: 0.3s ease-in-out;
            &::after{
              content: "";
              position: absolute;
              left: 0;
              top: 20px;
              height: 2px;
              width: 0;
              background-color: var(--subMainColor);
              transition: width 0.3s ease-in-out;
            }
            &:hover{
              color: var(--subMainColor);
              transform: scale(1.1);
              &::after{
                width: 100%;
              }
            }
            &:active{
              transform: scale(0.95);
            }

          }
          .toggle{
            .labels{
              width: 100px;
              height: 50px;
              position: relative;
              display: block;
              background: #786978;
              border-radius: 200px;
              box-shadow:inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -5px 15px rgba(255,255,255,0.4);
              cursor: pointer;
              transition: o.3s;
              &:after{
                content: "";
                width: 40px;
                height: 40px;
                position: absolute;
                top: 5px;
                left: 5px;
                background: var(--subMainColor);
                box-shadow: 0px 5px 10px var(--mainColor);
                border-radius: 200px;
              }
              &:active:after{
                width: 50px;
              }
              img{
                position: absolute;
                width: 40px;
                height: 40px;
                top: 5px;
                z-index: 100;
                &.moon{
                  left: 5px;
                  transition: 0.3s;
                }
                &.sun{
                  left: 55px;
                  transition: 0.3s;
                }
              }
            }
            input.checkbox{
              width: 0;
              height: 0;
              visibility: hidden;
              &:checked+.labels{
                background: #ffffff;
                &:after{
                  left: 75px;
                  transform: translateX(-50%);
                  background: linear-gradient(90deg, #ffccB9,#d8860b);
                }
              }
            }
          }
        }
        .content{
          margin: 20px;
          ol{
            margin: 10px;
            li{
              margin: 10px  ;
              .delete{
                border: none;
                border-radius: 10px;
                width: 100px;
                height: 30px;
                margin: 5px;
                position: relative;
                bottom: 50px;
                left: 80%;
                font-size: 25px;
                font-weight: bold;

                background: linear-gradient(to right, #1e3c72, #2a9830); /* initial gradient */
                background-size: 200% 100%;  /* makes the gradient double width */
                background-position: left;   /* start from left */
                transition: background-position 0.9s ease-in-out;
                cursor: pointer;
                backdrop-filter: blur(10px);
                -webkit-backdrop-filter: blur(10px);
                //&::after{
                //  content: "X";
                //  position: absolute;
                //  right: 0;
                //  top:0;
                //  border: none;
                //  border-radius: 10px;
                //  background: var(--background);
                //  width: 0;//this to be 0
                //  height: 30px;
                //
                //}
                &:hover{
                  background-position: right;
                  box-shadow: 0 0 10px rgba(42, 82, 152, 0.7);
                  //&::after{
                  //  width: 100%;
                  //}
                }
              }
            }
          }
        }

    }
}
