@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
:root {
  --mainColor: #020D19;
  --subMainColor: #C0C0C0;
  --textColor: #fff;
  --fontFamily: "Press Start 2P";
  --background: linear-gradient(135deg,var(--mainColor), var(--subMainColor)); }

body.light-mode {
  --mainColor: #C0C0C0;
  --subMainColor:#fff;
  --textColor: #020D19;
  --fontFamily: "Press Start 2P";
  --background: radial-gradient(var(--mainColor), var(--subMainColor)); }

body {
  background: var(--background);
  background-repeat: no-repeat;
  color: var(--textColor);
  overflow: hidden;
  font-family: var(--fontFamily);
  height: 970px; }
  body .container {
    background: var(--mainColor);
    width: 70%;
    margin: 100px auto 0;
    border-radius: 20px;
    height: auto; }
    body .container a {
      text-decoration: none;
      color: var(--textColor); }
      body .container a h1 {
        margin: 50px;
        padding: 30px;
        text-align: center; }
        body .container a h1:hover {
          color: var(--subMainColor); }
        body .container a h1 img {
          width: 60px;
          height: 60px;
          transition: all 0.3s ease-in-out; }
          body .container a h1 img:hover {
            width: 70px;
            height: 70px; }
    body .container .navBar {
      display: flex;
      justify-content: space-between;
      margin: 30px;
      padding: 30px; }
      body .container .navBar a {
        transition: 0.3s ease-in-out; }
        body .container .navBar a::after {
          content: "";
          position: absolute;
          left: 0;
          top: 20px;
          height: 2px;
          width: 0;
          background-color: var(--subMainColor);
          transition: width 0.3s ease-in-out; }
        body .container .navBar a:hover {
          color: var(--subMainColor);
          transform: scale(1.1); }
          body .container .navBar a:hover::after {
            width: 100%; }
        body .container .navBar a:active {
          transform: scale(0.95); }
    body .container .content {
      margin: 20px; }
      body .container .content ol {
        margin: 10px; }
        body .container .content ol li {
          margin: 10px; }
          body .container .content ol li .delete {
            border: none;
            border-radius: 10px;
            width: 100px;
            height: 30px;
            margin: 5px;
            position: relative;
            bottom: 50px;
            left: 80%;
            font-size: 25px;
            font-weight: bold;
            background: linear-gradient(to right, #1e3c72, #2a9830);
            /* initial gradient */
            background-size: 200% 100%;
            /* makes the gradient double width */
            background-position: left;
            /* start from left */
            transition: background-position 0.9s ease-in-out;
            cursor: pointer;
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px); }
            body .container .content ol li .delete:hover {
              background-position: right;
              box-shadow: 0 0 10px rgba(42, 82, 152, 0.7); }

/*# sourceMappingURL=styles.css.map */
